@mixin flexCenter($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

header {
  @include flexCenter(column);

  background-color: yellow;
  color: $txtColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: red;
    }
  }
}
